.body{
    background-color: #3a3a3a;
}
.form-container {
    font-family: Arial, sans-serif;
    max-width: 950px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.form-column {
    flex: 1;
    margin-right: 10px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input{
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc; 
}
.form-select {
    width: 97%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form-button {
    padding: 8px;
    width: 18%;
    margin: 10px;
    background-color: #00a2ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #2580e2;
}